/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/* common styles */
body{
    font-family: 'Poppins', sans-serif;
}

.custom-btn{
background-color: #E76F51;
color: white;
}


/* ==================
    header part 
=====================*/

header{
    background-color: #264653;
}
header p,h1{
    color: white;
}
/* banner section */
.banner .top-p{
    color:#E0E0E0;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1rem;
}
.banner h1{
    line-height: 4.5rem;
    font-size: 48px;
    font-weight: 600;
}
.banner .bottom-p{
    color:#E0E0E0;
    width: 19.5rem;
    line-height: 1.5rem;
    font-weight: 300;
}
.custom-title{
    color: #E76F51;
}


/* ==================
    main part
===================== */

/* featured bike section */
.bike h1{
    color: black;
}
.bike p{
    line-height: 1.3rem;
    font-size: .875rem;
    color: #E76F51;
}
hr{
    border: 1px solid #E76F51;
    border-radius: 1px;
    width: 3.7rem;
}

.bike img{
    width: 18rem;
    height: 15.19rem;
}

.gray-img{
    filter: grayscale(1);
}

/* latest news section */
.news h1{
    color: black;
}
.news .custom-outline-btn{
    border: 1px solid #E76F51;
    color: #E76F51;
}
.news .custom-outline-btn:hover{
    background-color: #E76F51;
    color: white;
}

/* happy clients section */
.happy-clients h1{
    font-weight: 600;
}
.custom-heading-part-1{
    color: #0A0826;
}
.custom-heading-part-2{
    color: #E76F51;
}
.happy-clients .client{
    border: 1px solid #DEDEDE;
}
.happy-clients img{
    width: 149px;
    height: 149px;
}
.client-review{
    letter-spacing: 0.2px;
    line-height: 1.625rem;
    color:#6C6C6C;
}
.client ul li{
    list-style:none;
    color: #E76F51;
}
.client-name{
    letter-spacing: 0.2px;
    font-size: .875rem;
    color: #23A6F0;
}
.client-designation{
    letter-spacing: 0.2px;
    font-size: .875rem;
    color: #252B42;
}

/* FAQ section */
.faq-text, .faq h2{
    font-family: 'Inter', sans-serif;
}
.faq-ans{
    color: #7E848C;
}
.faq h2{
    color: #383838;
    font-weight: 500;
}

/* -------------------
    bonus section - 1
---------------------- */

/* carousel section */
.carousel-bg{
    background-color: #E76F51;
}
.slider{
    border-radius: 10px;
}
.slider h1{
    color: #264653;
    font-weight: 900;
}
.slider p{
    color: whitesmoke;
    font-size: larger;
    font-weight: 600;
}
.carousel-control-prev, .carousel-control-next{
    width: 5%;
}
.carousel-bg .custom-btn{
    margin-top: 3rem;
    border: 1px solid #264653;
    color: #264653;
}
.carousel-bg .custom-btn:hover{
    background-color: #264653;
    color: white;
}

/* -------------------
    bonus section - 2
---------------------- */

/* subscription section */
.subscribe-bg{
    background-color: #fcf1ee;
    /* background-color: #e2f0f7; */
    border-radius: 10px;
    margin-top: 8rem;
    margin-bottom: 8rem;
}
.subscribe-bg .custom-btn{
    color: white;
    font-weight: 500;
    margin-top: 3rem;
    text-decoration: none;
    background-color: #264653;
}
.subscribe-bg .custom-btn:hover{
    background-color: transparent;
    border: 1px solid #264653;
    color: #264653;
}


/* =============
    footer part
================ */
footer{
    background-color: #0A0826;;
}

/* links & copyright*/
footer ul{
    line-height: 1.5rem;
    overflow-wrap: break-word;
}
footer ul li{
    list-style: none;
    color: #D9DBE1;
    font-size: .87rem;
    padding-right: 2rem;
}

/* app */
.app button{
    background-color: #0B0D17;;
}
.app i{
    color: teal;
    font-size:x-large;
}
.app .small-txt{
    font-size: xx-small;
}